---
sudo: false
language: ruby
cache: bundler
rvm:
- jruby-1.7.25
before_install:
- curl -s -o kafka.tgz http://ftp.wayne.edu/apache/kafka/0.9.0.1/kafka_2.11-0.9.0.1.tgz
- mkdir kafka && tar xzf kafka.tgz -C kafka --strip-components 1
- kafka/bin/zookeeper-server-start.sh kafka/config/zookeeper.properties &
- kafka/bin/kafka-server-start.sh kafka/config/server.properties &
- sleep 3
- kafka/bin/kafka-topics.sh --create --partitions 1 --replication-factor 1 --topic
  topic1 --zookeeper localhost:2181
- kafka/bin/kafka-topics.sh --create --partitions 2 --replication-factor 1 --topic
  topic2 --zookeeper localhost:2181
- kafka/bin/kafka-topics.sh --create --partitions 1 --replication-factor 1 --topic
  gzip_topic --zookeeper localhost:2181
- kafka/bin/kafka-topics.sh --create --partitions 1 --replication-factor 1 --topic
  snappy_topic --zookeeper localhost:2181
- kafka/bin/kafka-topics.sh --create --partitions 1 --replication-factor 1 --topic
  lz4_topic --zookeeper localhost:2181
- kafka/bin/kafka-topics.sh --create --partitions 3 --replication-factor 1 --topic
  topic3 --zookeeper localhost:2181
before_script:
- bundle exec rake vendor
script: bundle exec rspec && bundle exec rspec --tag integration
jdk: oraclejdk8
